*{
    background-color: #F2EDE9;
}
#H1{
    text-align: center;
}
form{
    display: flex;
    justify-content: space-around;
}
.inpt{
    width: 400px;
    height: 50px;
    margin: 5px;
}
textarea{
    width: 400px;
    height: 70px;
}
button{
    margin: 10px;
    background-color: cadetblue;
    width: 100px;
    height: 50px;
    border-radius: 7px;
    color: aliceblue;
}